

.intro_backscreen
.logo-container
	.logo-container__shape
		<svg id="logo-shape" width="500" height="500" viewBox="0 0 968 953" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M23.4206 1H177.591L328.957 276.166L335.844 316.5H649.186L657.55 276.158L802.897 1H955.749L967.021 39.4268L918.973 375.258L740.912 826.413L676.11 952.5H319.433L244.11 826.46L45.5271 375.272L1.4646 39.2954L23.4206 1ZM24.5794 3L3.53539 39.7046L47.4729 374.728L245.89 825.54L320.567 950.5H674.89L739.088 825.587L917.027 374.742L964.979 39.5733L954.251 3H804.103L659.45 276.842L650.814 318.5H334.156L327.043 276.834L176.409 3H24.5794Z" stroke="#9E00FF" stroke-width="12"/>
		</svg>
	.logo-container__wpurple
		<svg id="logo-purple" width="410" height="140" viewBox="0 0 610 140" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M72.2 54C72.2 64.8 69.3333 72.8 63.6 78C57.8667 83.0667 49.4 85.6 38.2 85.6H17.4V140H0V0H37.8C49.1333 0 57.6667 2.53333 63.4 7.59999C69.2667 12.5333 72.2 20.4 72.2 31.2V54ZM54.8 29.4C54.8 24.3333 53.6 20.6667 51.2 18.4C48.9333 16.1333 45.2667 15 40.2 15H17.4V70.6H40.2C45.2667 70.6 48.9333 69.4667 51.2 67.2C53.6 64.8 54.8 61.0667 54.8 56V29.4Z" stroke="#9E00FF" stroke-width="5"/>
		<path d="M182.408 106C182.408 117.333 179.274 125.867 173.008 131.6C166.874 137.2 158.008 140 146.408 140H141.408C129.808 140 120.874 137.2 114.608 131.6C108.474 125.867 105.408 117.333 105.408 106V0H122.808V109.8C122.808 113.933 124.341 117.467 127.408 120.4C130.474 123.333 134.474 124.8 139.408 124.8H148.408C153.341 124.8 157.341 123.333 160.408 120.4C163.474 117.467 165.008 113.933 165.008 109.8V0H182.408V106Z" stroke="#9E00FF" stroke-width="5"/>
		<path d="M229.416 82V140H212.016V0H249.616C260.949 0 269.482 2.53333 275.216 7.59999C281.082 12.5333 284.016 20.4 284.016 31.2V50.4C284.016 65.4667 278.016 74.8667 266.016 78.6L293.816 140H274.816L249.016 82H229.416ZM266.616 29.4C266.616 24.3333 265.416 20.6667 263.016 18.4C260.749 16.1333 257.082 15 252.016 15H229.416V67H252.016C257.082 67 260.749 65.8667 263.016 63.6C265.416 61.2 266.616 57.4667 266.616 52.4V29.4Z" stroke="#9E00FF" stroke-width="5"/>
		<path d="M396.223 54C396.223 64.8 393.357 72.8 387.623 78C381.89 83.0667 373.423 85.6 362.223 85.6H341.423V140H324.023V0H361.823C373.157 0 381.69 2.53333 387.423 7.59999C393.29 12.5333 396.223 20.4 396.223 31.2V54ZM378.823 29.4C378.823 24.3333 377.623 20.6667 375.223 18.4C372.957 16.1333 369.29 15 364.223 15H341.423V70.6H364.223C369.29 70.6 372.957 69.4667 375.223 67.2C377.623 64.8 378.823 61.0667 378.823 56V29.4Z" stroke="#9E00FF" stroke-width="5"/>
		<path d="M454.431 0V124.8H499.031V140H437.031V0H454.431Z" stroke="#9E00FF" stroke-width="5"/>
		<path d="M609.439 0V14.6H560.039V60.4H604.439V75H560.039V125.4H609.439V140H542.639V0H609.439Z" stroke="#9E00FF" stroke-width="5"/>
		</svg>
	.logo-container__wsphynx 
		<svg id="logo-sphynx" width="418" height="140" viewBox="0 0 618 140" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M67.8 106C67.8 117.333 64.6667 125.867 58.4 131.6C52.2667 137.2 43.4 140 31.8 140H3.4V124.8H33.8C38.7333 124.8 42.7333 123.333 45.8 120.4C48.8667 117.467 50.4 113.933 50.4 109.8V89C50.4 85 49.3333 81.8 47.2 79.4C45.2 76.8667 42.1333 75.6 38 75.6H32C22.1333 75.6 14.3333 72.7333 8.6 67C2.86667 61.1333 0 52.6667 0 41.6V34C0 22.6667 3.06667 14.2 9.2 8.60001C15.4667 2.86667 24.4 0 36 0H64.6V15.2H34C29.0667 15.2 25.0667 16.6667 22 19.6C18.9333 22.5333 17.4 26.0667 17.4 30.2V45.4C17.4 49.5333 18.7333 53 21.4 55.8C24.0667 58.4667 27.5333 59.8 31.8 59.8H37.8C47.2667 59.8 54.6 62.5333 59.8 68C65.1333 73.4667 67.8 81.7333 67.8 92.8V106Z" stroke="#9E00FF" stroke-width="5"/>
		<path d="M178.208 54C178.208 64.8 175.341 72.8 169.608 78C163.874 83.0667 155.408 85.6 144.208 85.6H123.408V140H106.008V0H143.808C155.141 0 163.674 2.53333 169.408 7.59999C175.274 12.5333 178.208 20.4 178.208 31.2V54ZM160.808 29.4C160.808 24.3333 159.608 20.6667 157.208 18.4C154.941 16.1333 151.274 15 146.208 15H123.408V70.6H146.208C151.274 70.6 154.941 69.4667 157.208 67.2C159.608 64.8 160.808 61.0667 160.808 56V29.4Z" stroke="#9E00FF" stroke-width="5"/>
		<path d="M229.416 75.6V140H212.016V0H229.416V60.8H270.616V0H288.016V140H270.616V75.6H229.416Z" stroke="#9E00FF" stroke-width="5"/>
		<path d="M348.623 140V75L312.823 0H332.023L358.423 58.2L384.823 0H403.023L366.623 75V140H348.623Z" stroke="#9E00FF" stroke-width="5"/>
		<path d="M444.031 140H427.831V0H456.231L487.831 125.2V0H504.031V140H475.431L444.031 14.8V140Z" stroke="#9E00FF" stroke-width="5"/>
		<path d="M549.039 140H530.239L565.039 67.6L533.439 0H552.439L574.439 47.4L597.239 0H615.839L583.439 67.4L617.839 140H598.239L574.239 87.4L549.039 140Z" stroke="#9E00FF" stroke-width="5"/>
		</svg>
	#skipintro.logo-container__toggle
		<svg width="41" height="37" viewBox="0 0 41 37" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M18.3226 18.5238L0.902999 5.89921C-0.301 5.02662 -0.301 3.61564 0.902999 2.75234L3.79772 0.654436C5.00172 -0.218145 6.94861 -0.218145 8.1398 0.654436L20.4872 9.60303L32.8346 0.654436C34.0386 -0.218145 35.9855 -0.218145 37.1767 0.654436L40.097 2.74306C41.301 3.61564 41.301 5.02662 40.097 5.88992L22.6774 18.5145C21.4734 19.3964 19.5266 19.3964 18.3226 18.5238ZM22.6774 36.3467L40.097 23.7221C41.301 22.8496 41.301 21.4386 40.097 20.5753L37.2023 18.4774C35.9983 17.6048 34.0514 17.6048 32.8602 18.4774L20.5 27.4167L8.15261 18.4681C6.94861 17.5955 5.00172 17.5955 3.81053 18.4681L0.902999 20.566C-0.301 21.4386 -0.301 22.8496 0.902999 23.7129L18.3226 36.3374C19.5266 37.2193 21.4734 37.2193 22.6774 36.3467Z" fill="rgb(0, 209, 255)"/>
			</svg>

