@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-Bold.woff") format("woff"), url("../fonts/Exo2-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-Italic.woff") format("woff"), url("../fonts/Exo2-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-Regular.woff") format("woff"), url("../fonts/Exo2-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 16px;
  -webkit-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
  width: 100%;
  position: relative;
  height: 100%;
  font-family: "Exo2";
  background-color: f6f6f6;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: url(/img/jeeper/Hover.png) 1 1, pointer;
}

a:hover {
  text-decoration: underline;
}

.container,
.container-pad {
  max-width: 1224px;
  margin: 0 auto;
}

.container-slider {
  width: 100%;
  background-color: #050826;
}

.container-slider__fixer {
  margin: 0 auto;
  max-width: 2000px;
}

.container-pad {
  width: 100%;
  padding-top: 80px;
}

.ring {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  -webkit-animation-name: ring;
          animation-name: ring;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.img {
  margin-top: 5px;
  position: relative;
}

.img-icon {
  display: block;
  width: 91px;
  height: 91px;
  background: url(/img/jeeper/call.svg) center no-repeat;
}

.nav {
  height: 203px;
  width: 100%;
  z-index: 3;
  position: relative;
  background: no-repeat center url(/img/jeeper/smoke.png), #050826;
  background-size: 100%;
}

.nav__top {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 121px;
}

.nav .tel {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .tel a:hover {
  color: #00FF38;
}

.nav .tel .img .img-icon {
  background: url(/img/jeeper/call.svg) center no-repeat;
}

.nav .tel__col {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .tel__col a {
  margin-top: 4px;
}

.nav__bot {
  border-top: 1px solid #FFFFFF38;
  height: 82px;
}

.nav .menu {
  color: #FFFFFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 3;
}

.nav .menu .arrow-down {
  margin: 1px 0 2px 7px;
}

.nav .menu .arrow-down img {
  padding: 5px;
}

.nav .menu .sub-menu {
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .menu .sub-menu li {
  display: none;
  color: black;
}

.nav .menu .sub-menu:hover .menu-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 8;
  opacity: 1;
  top: 80px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav .menu .sub-menu:hover li {
  display: block;
  margin: 10px;
  width: 20%;
}

.nav .menu .sub-menu:hover li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu .menu-mode {
  position: absolute;
  left: 0;
  padding: 15px;
  top: -100vh;
  width: 100%;
  height: 0;
  background-color: white;
  border: 1px solid black;
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.nav__menu-mobile {
  display: none;
}

.nav .search {
  position: relative;
  margin-top: 5px;
  cursor: url(/img/jeeper/Hover.png) 1 1, pointer;
  width: 120px;
}

.nav .search__bar {
  display: none;
}

.nav .search .search__bar.active {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .search .search__bar.active .searchbox input[type=text] {
  width: 330px;
  height: 52px;
  padding: 0px 0px 0px 10px;
  border: none;
  border-radius: 6px;
  cursor: text;
}

.nav .search .search__bar.active .searchbox input[type=submit] {
  float: right;
  position: relative;
  cursor: pointer;
  height: 52px;
  width: 70px;
  margin-left: -10px;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#042C48), to(#0076CA));
  background: -o-linear-gradient(top, #042C48 0%, #0076CA 100%);
  background: linear-gradient(180deg, #042C48 0%, #0076CA 100%);
  border-radius: 0 6px 6px 0;
}

.nav .search .img-icon {
  background: url(/img/jeeper/search.svg) center no-repeat;
}

.nav .address.hidden {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav .address {
  margin-top: 10px;
}

.nav .address p {
  margin-bottom: -4px;
}

.nav .address p:nth-child(1) {
  position: relative;
}

.nav .address p:nth-child(1):before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  left: -20px;
  top: 4px;
  background: url(/img/jeeper/ic_pin.png) no-repeat left 0px top 0px;
}

.image-slider {
  width: 100%;
  height: auto;
  max-height: 600px;
  position: relative;
  z-index: 1;
}

.image-slider .swiper-wrapper {
  height: auto;
}

.image-slider h1 {
  position: absolute;
  top: 58px;
  left: 44px;
  z-index: 4;
  color: white;
  font-size: 48px;
  max-width: 555px;
}

.image-slider__image {
  text-align: center;
}

.image-slider__image img {
  max-width: 100%;
  height: auto;
}

.image-slider__prev,
.image-slider__next {
  position: absolute;
  bottom: 100px;
  color: white;
  left: 133px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 11px 25px;
  z-index: 3;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-slider__prev:after,
.image-slider__next:after {
  font-size: 20px;
  content: 'prev';
  font-family: swiper-icons;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.image-slider__next {
  left: 207px;
}

.image-slider__next:after {
  content: 'next';
}

.content {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.content h3 {
  font-size: 64;
  font-weight: bold;
  max-width: 650px;
  line-height: 68px;
  background: -webkit-linear-gradient(104.88deg, #004F88 5.37%, #080C2F 83.22%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content .stripes .stripes-1,
.content .stripes .stripes-2 {
  position: absolute;
  top: -20%;
  left: -30px;
  z-index: 0;
  height: 130%;
  background-color: #F6D703;
  width: 15px;
}

.content .stripes .stripes-2 {
  left: -60px;
}

.models {
  max-width: 1176px;
  padding-right: 0;
  z-index: 0;
}

.models .logos-slider__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.models .logos-slider__slide {
  position: relative;
}

.models .logos-slider__slide:hover {
  background-color: white;
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.06);
}

.models .logos-slider__slide:hover .logos-slider__menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  width: 250px;
  opacity: 1;
  z-index: 4;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.models .logos-slider__front {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 190px;
  height: 170px;
  border: 1px solid #F7F7F7;
  z-index: 3;
}

.models .logos-slider__front img {
  max-width: 115px;
  max-height: 115px;
}

.models .logos-slider__menu {
  position: absolute;
  padding: 24px;
  z-index: 2;
  opacity: 0;
  width: 200px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.models .logos-slider__menu img {
  width: 15%;
  height: auto;
  margin-right: 12px;
}

.models .logos-slider__menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 16px;
}

.models .logos-slider__menu a:hover {
  cursor: url(/img/jeeper/Hover.png) 1 1, pointer;
  color: #00548F;
  text-decoration: none;
}

.accordion {
  margin-top: 83px;
}

.accordion-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion-tabs :focus {
  outline: none;
}

.accordion-tab {
  padding: 1rem 2rem;
  font: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  cursor: pointer;
  -webkit-transition: background .1s ease;
  -o-transition: background .1s ease;
  transition: background .1s ease;
  -webkit-transform: skew(-22deg, 0deg);
      -ms-transform: skew(-22deg, 0deg);
          transform: skew(-22deg, 0deg);
  background-color: white;
  max-width: 200px;
  height: 124px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.accordion-tab__text {
  position: absolute;
  top: 10px;
  left: 17px;
  -webkit-transform: skew(22deg, 0deg);
      -ms-transform: skew(22deg, 0deg);
          transform: skew(22deg, 0deg);
  max-width: 100px;
  text-align: left;
  z-index: 1;
}

.accordion-tab__img {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: skew(22deg, 0deg);
      -ms-transform: skew(22deg, 0deg);
          transform: skew(22deg, 0deg);
}

.accordion-tab:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#074C7C), to(#004779));
  background: -o-linear-gradient(top, #074C7C 0%, #004779 100%);
  background: linear-gradient(180deg, #074C7C 0%, #004779 100%);
  color: white;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.accordion-tab.accordion-active {
  background: -webkit-gradient(linear, left top, left bottom, from(#074C7C), to(#004779));
  background: -o-linear-gradient(top, #074C7C 0%, #004779 100%);
  background: linear-gradient(180deg, #074C7C 0%, #004779 100%);
  color: white;
  font-weight: bold;
  font-size: 24px;
  -webkit-transform: scale(1.2) skew(-22deg, 0deg);
      -ms-transform: scale(1.2) skew(-22deg, 0deg);
          transform: scale(1.2) skew(-22deg, 0deg);
  bottom: 11px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.accordion-tab.accordion-active .accordion-tab__text {
  left: 8%;
  max-width: 90%;
}

.accordion-tab.accordion-active .accordion-tab__img {
  bottom: -5px;
  right: 0;
  -webkit-transform: scale(0.9) skew(22deg, 0deg);
      -ms-transform: scale(0.9) skew(22deg, 0deg);
          transform: scale(0.9) skew(22deg, 0deg);
}

.accordion-item {
  width: 100%;
}

.accordion-item__link {
  width: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-item__link img {
  max-width: 125px;
}

.accordion-item__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.accordion-item__label {
  margin: 0;
  padding: 1.25rem;
  cursor: pointer;
  -webkit-transition: padding .2s ease;
  -o-transition: padding .2s ease;
  transition: padding .2s ease;
  position: relative;
  padding: 0;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.accordion-item__label:after {
  content: "";
  height: 4px;
  width: 4px;
  position: absolute;
  top: -4px;
  right: 1.25rem;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
  -webkit-transition: opacity .1s ease;
  -o-transition: opacity .1s ease;
  transition: opacity .1s ease;
}

.accordion-item__container {
  padding: 0 1.25em;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity .5s .15s ease;
  -o-transition: opacity .5s .15s ease;
  transition: opacity .5s .15s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-active .accordion-item {
  padding: 2.4rem;
  display: none;
  border: none;
  min-height: 260px;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.accordion-active .accordion-item__label {
  padding-bottom: 0;
  cursor: inherit;
  padding: 0;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.accordion-active .accordion-item__label:hover {
  background: none;
}

.accordion-active .accordion-item__label:after {
  opacity: 0;
}

.accordion-active .accordion-item__container {
  padding: 1.25em;
  height: auto;
  opacity: 1;
  background: center/contain no-repeat url(/img/jeeper/logo1.png);
}

.accordion-active .accordion-item__container p:first-child,
.accordion-active .accordion-item__container h1:first-child,
.accordion-active .accordion-item__container h2:first-child,
.accordion-active .accordion-item__container h3:first-child,
.accordion-active .accordion-item__container h4:first-child,
.accordion-active .accordion-item__container h5:first-child,
.accordion-active .accordion-item__container h6:first-child {
  margin-top: 0;
}

.accordion-active .accordion-item__container p:last-child,
.accordion-active .accordion-item__container h1:last-child,
.accordion-active .accordion-item__container h2:last-child,
.accordion-active .accordion-item__container h3:last-child,
.accordion-active .accordion-item__container h4:last-child,
.accordion-active .accordion-item__container h5:last-child,
.accordion-active .accordion-item__container h6:last-child {
  margin-bottom: 0;
}

.accordion.accordion-active {
  display: block;
}

.accordion.accordion-active .accordion-item__container {
  padding: 0;
}

.catalog {
  position: relative;
  z-index: 2;
}

.catalog .decor1 {
  position: absolute;
  top: -200;
  left: -200;
  z-index: -1;
}

.catalog .decor2 {
  position: absolute;
  top: -250;
  right: -600px;
  z-index: -1;
}

.news {
  position: relative;
  margin-top: 80px;
}

.news h3 {
  top: 40;
  position: relative;
}

.news__control-next,
.news__control-prev {
  top: 0;
  right: 0;
  position: absolute;
  color: #042C48;
  padding: 0px 25px 0px;
  margin-top: 0px;
  z-index: 3;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__control-next:after,
.news__control-prev:after {
  font-size: 24px;
  content: 'next';
  font-family: swiper-icons;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.news__control-prev {
  right: 65px;
}

.news__control-prev:after {
  content: 'prev';
}

.news__slider {
  overflow-x: visible;
  overflow-y: hidden;
  padding-top: 40px;
  margin-top: 0px;
  max-height: 300px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.news__slider::-webkit-scrollbar {
  display: none;
}

.news__wrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .decor3 {
  position: absolute;
  top: -20vh;
  left: 32vw;
  z-index: -1;
}

.about {
  position: relative;
  margin-top: 80px;
  font-size: 14px;
  font-weight: bold;
}

.about p {
  margin-top: 20px;
}

.about h4 {
  margin-top: 20px;
  font-size: 20px;
}

.about__text p {
  position: relative;
  padding-left: 40px;
}

.about__text p:nth-child(1):before {
  content: "1";
  position: absolute;
  color: white;
  left: 0;
  top: 5;
  width: 24px;
  height: 24px;
  background: -o-linear-gradient(345.12deg, #080C2F 5.22%, #004F88 83.37%);
  background: linear-gradient(104.88deg, #080C2F 5.22%, #004F88 83.37%);
  border-radius: 50%;
  text-align: center;
}

.about__text p:nth-child(2):before {
  content: "2";
  position: absolute;
  color: white;
  left: 0;
  top: 5;
  width: 24px;
  height: 24px;
  background: -o-linear-gradient(345.12deg, #080C2F 5.22%, #004F88 83.37%);
  background: linear-gradient(104.88deg, #080C2F 5.22%, #004F88 83.37%);
  border-radius: 50%;
  text-align: center;
}

.about__text p:nth-child(3):before {
  content: "3";
  position: absolute;
  color: white;
  left: 0;
  top: 5;
  width: 24px;
  height: 24px;
  background: -o-linear-gradient(345.12deg, #080C2F 5.22%, #004F88 83.37%);
  background: linear-gradient(104.88deg, #080C2F 5.22%, #004F88 83.37%);
  border-radius: 50%;
  text-align: center;
}

.slideshow {
  width: 100%;
  position: relative;
  z-index: 2;
}

.slideshow .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slideshow .column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 1px 1px;
}

.slideshow .column img {
  padding: 10px 10px;
  margin-top: 10px;
  vertical-align: middle;
  max-width: 100%;
}

.slideshow .column .teer img {
  max-width: 100%;
  width: 100%;
  padding: 30px 0 0 0;
}

.map {
  position: relative;
}

.map #map {
  width: 100%;
  height: 600px;
}

.map #map [class*="ymaps-2"][class*="-ground-pane"] {
  -webkit-filter: invert(100%) grayscale(100%);
          filter: invert(100%) grayscale(100%);
}

.map .contacts {
  position: absolute;
  z-index: 2;
  top: -40%;
  left: calc(25% + 20px);
  background: white;
  width: 23%;
  height: 500px;
}

.map .contacts h3 {
  font-size: 32px;
  font-weight: bold;
  background: -o-linear-gradient(345.12deg, #080C2F 5.22%, #004F88 83.37%);
  background: linear-gradient(104.88deg, #080C2F 5.22%, #004F88 83.37%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.map .contacts .wrapper {
  color: lightgray;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.map .contacts .wrapper a {
  background: -o-linear-gradient(345.12deg, #080C2F 5.22%, #004F88 83.37%);
  background: linear-gradient(104.88deg, #080C2F 5.22%, #004F88 83.37%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.map .contacts .wrapper .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map .contacts .wrapper .tel span {
  color: lightgray !important;
  -webkit-text-fill-color: unset;
  background-clip: unset;
}

.map .contacts .wrapper .tel span :hover {
  color: lightgray !important;
  -webkit-text-fill-color: unset;
  background-clip: unset;
  cursor: unset;
}

.map .contacts .wrapper .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.map .contacts .wrapper .social img {
  margin-right: 14px;
}

.map .contacts .wrapper .adress span {
  background: -o-linear-gradient(345.12deg, #080C2F 5.22%, #004F88 83.37%);
  background: linear-gradient(104.88deg, #080C2F 5.22%, #004F88 83.37%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.map .contacts .wrapper .btn,
.map .contacts .wrapper .btn-empty {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1em;
  font-weight: bold;
  padding: .65rem 1.4rem;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  border: 2px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#080C2F), to(#8ba4f9));
  background: -o-linear-gradient(top, #080C2F 0%, #8ba4f9 100%);
  background: linear-gradient(180deg, #080C2F 0%, #8ba4f9 100%);
  background-clip: padding-box;
  border-radius: 22px;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  line-height: 15px;
  color: white;
}

.map .contacts .wrapper .btn img,
.map .contacts .wrapper .btn-empty img {
  margin-left: 14px;
}

.map .contacts .wrapper .btn:hover,
.map .contacts .wrapper .btn-empty:hover {
  background: white;
  background-clip: padding-box;
  color: r #080C2F;
  border-color: linear-gradient(180deg, #080C2F 0%, #8ba4f9 100%);
}

.map .contacts .wrapper .btn:after,
.map .contacts .wrapper .btn-empty:after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#080C2F), to(#8ba4f9));
  background: -o-linear-gradient(top, #080C2F 0%, #8ba4f9 100%);
  background: linear-gradient(180deg, #080C2F 0%, #8ba4f9 100%);
  content: "";
  z-index: -1;
  border-radius: 22px;
}

.map .contacts .wrapper .btn-empty {
  background: white;
  background-clip: padding-box;
  color: #080C2F;
}

.map .contacts .wrapper .btn-empty:hover {
  background: #8ba4f9;
  color: white;
}

.footer {
  width: 100%;
  max-height: 600px;
  position: relative;
  background: #050826;
  color: white;
}

.footer .container,
.footer .container-pad {
  padding: 50px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .inner {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
}

.footer .inner:nth-child(2) {
  -webkit-box-flex: 75%;
      -ms-flex: 75%;
          flex: 75%;
  max-width: 75%;
}

.footer .menu-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr 50px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 250px 0px 250px;
  grid-template-rows: 250px 250px;
  gap: 0px 50px;
      grid-template-areas: "top top top side" "bot bot bot side";
}

.footer .menu-links li {
  list-style: none;
  padding: 0;
}

.footer .menu-links ul {
  padding: 0;
}

.footer .menu-links__top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: top;
}

.footer .menu-links__top ul {
  width: 100%;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
}

.footer .menu-links__side {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  grid-area: side;
}

.footer .menu-links__bot {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  margin-top: 50px;
  grid-area: bot;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright {
  color: white;
  background: black;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }

  1% {
    -webkit-transform: scale(0.3);
    opacity: 1;
  }

  95% {
    -webkit-transform: scale(1);
    opacity: 0.4;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

#r2 {
  -webkit-animation-delay: -1s;
}

#r3 {
  -webkit-animation-delay: -2s;
}

@media (min-width: 1441px) {
  .slideshow .column img {
    max-width: unset;
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .nav {
    background-size: auto;
  }
}

@media (max-width: 1205px) {
  .content {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .content {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .content {
    max-width: none;
    padding: 0 10px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}